<div class="title">
	[$TITLE$]
</div>
<div class="body">
	<a class="btn btn-success btn-action" href="[$CONFIRM_URL$]">[$CONFIRM$]</a>
	<a class="btn btn-warning btn-action" href="[$IGNORE_URL$]">[$IGNORE$]</a>
</div>